@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* common style */
*{box-sizing: border-box;}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* top section start */
.top-section{
    background-color: #2D25A0;
    margin-bottom: 70px;
}
.top-conatiner{
    max-width: 1190px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.top-wrapper{
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}
.col-6{
    margin-top: 207px;
    flex: 0 0 50%;
    padding: 0 15px;
    max-width: 50%;
}

.left-side h1{
    font-weight: 700;
    color: #fff;
    font-size: 64px;
    line-height: 80px;
    margin: 0;
    margin-bottom: 27px;
    max-width: 480px;
}
.watch-btn{
    background: #E02C6D;
    padding: 10px 24px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    border: none;
    transition: transform .2s ease;
}
.watch-btn:hover{
    transform: scale(1.10); 
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 15%);
}
.right-side{
    margin-top: 153px;
    margin-bottom: 86px;
}
.right-side img{
    max-width: 100%;
    height: auto;
}
/* banner animation */
#banner{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
@keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
/* top section start */
/* players section start */
.container{
    max-width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 27px;
    
}
.player{
    padding: 15px 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player .thumbnail img{
    max-width: 300px;
    width: 100%;
    height: 256px;
    object-fit: cover;
}
.player .player-name{
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
}
.player p{
    font-size: 16px;
    line-height: 26px;
}
/* players section end */
/* highlight-section start */
.highlight-container{
    max-width: 1135px;
    padding-right: 15px;
    padding-left: 15px;
}
.highlight-section{
    display: flex;
    justify-content: space-between;
}
.hightlight-info{
    margin-top: 224px;
    max-width: 469px;
    min-height: 309px;
    margin-right: 80px;
}
.hightlight-info h1{
    font-size: 48px;
    color: #0A0826;
    line-height: 60px;
    margin: 0;
}
.hightlight-info p{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 24px;
}
.hightlight-banner{
    margin-top: 165px;
    margin-bottom: 158px;
}
.hightlight-banner img{
    max-width: 567px;
    width: 100%;
    height: 427px;
    object-fit: cover;
}
/* highlight-section end */
.top-match-container{
    max-width: 1135px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 100px;
}
.top-match{
    display: flex;
    justify-content: space-between;
}
.top-match .video{
    margin-top: 30px;
}
.match-info{
 margin-left: 70px;
}
.match-info h1{
    font-size: 48px;
    margin: 0;
    padding-top: 0;
}
.match-info p{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 24px;
}
.match-info .text-color{
    color: red;
}
/* sponser section start */
.sponser-container{
    max-width: 1135px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 100px;
}
.sponser{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* footer section start */

/* .footer-wrapper{
    margin-top: 158px;
    margin-bottom: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.footer-container{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-bottom: 63px;
}
.fotter-banner img{
    max-width: 483.87px;
    width: 100%;
    margin-bottom: 20px;
}
.icon i {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-align: center;
    background: #E7E7E8;
    color: #969BAB;
    font-size: 16px;
    line-height: 32px;
    margin: 0 7px;
}
.copyright p{
    font-size: 18px;
}
/* footer section end */

/*---------------- 
    media queries  
------------------*/
/* pad device */

@media only screen and (min-width:601px) and (max-width:980px) {
	/* top section start */
	.col-6{
        margin-top: 112px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .left-side h1{
        font-size: 45px;
        line-height: 60px;
        margin: 0;
        margin-bottom: 27px;
        max-width: 350px;
    }
    /* player section start */
    .players{
        grid-template-columns: repeat(2,1fr);
    }
    .player .thumbnail img {
        max-width: 100%;
    }

    /* highlight section start */
    .highlight-section{
        flex-direction: column;
    }
    .hightlight-info h1{
        font-size: 40px;
        line-height: 50px;
    }
    .hightlight-info p{
        font-size: 18px;
        line-height: 35px;
    }
    .hightlight-info{
        margin-top: 60px;
    }
    .hightlight-banner{
        margin-top: 30px;
        margin-bottom: 43px;
    }
    /* top matche start*/
    .top-match{
        flex-direction: column;
    }
    .top-match .video{
        text-align: center;
    }
    iframe {
        width: 100%;
        height: auto;
        
    }
    .match-info{
        margin-left: 0;
    }
    .match-info h1{
        font-size: 35px;
        margin-top: 30px;
    }
    /* footer section start */
    .fotter-banner img{
        max-width: 250px;
        width: 100%;
        margin-bottom: 20px;
    }
}

/*Small devices (landscape phones, 600px and down)*/
@media only screen and (max-width:600px) {
    /* top section start */
	.col-6{
        margin-top: 112px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .left-side h1{
        
        font-size: 36px;
        line-height: 50px;
        margin: 0;
        margin-bottom: 27px;
        max-width: 278px;
    }
    /* player section start */
    .players{
        grid-template-columns: repeat(1,1fr);
    }
    .player .thumbnail img {
        max-width: 100%;
    }
    /* highlight section start */
    .highlight-section{
        flex-direction: column;
    }
    .hightlight-info h1{
        font-size: 30px;
        line-height: 40px;
    }
    .hightlight-info p{
        font-size: 16px;
        line-height: 28px;
    }
    .hightlight-info{
        margin-top: 60px;
    }
    .hightlight-banner{
        margin-top: 30px;
        margin-bottom: 43px;
    }
    /* top matche start*/
    .top-match{
        flex-direction: column;
    }
    .top-match .video{
        text-align: center;
    }
    iframe {
        width: 100%;
        height: auto;
        
    }
    .match-info{
        margin-left: 0;
    }
    .match-info h1{
        font-size: 30px;
        margin-top: 30px;
    }
    /* sponser section start */
    .sponser{
        flex-direction: column;
    }
    /* footer section start */
    .fotter-banner img{
        max-width: 200px;
        width: 100%;
        margin-bottom: 20px;
    }
}
